<aside class="aside collapsed" id="aside">
    <div class="aside-header">
        <button class="toggle-button" id="toggle-aside" aria-label="Toggle aside">
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="logo">
            <span>{{ site.title }}</span>
        </div>
    </div>

    <div class="aside-content">
        <nav class="aside-nav">
            <a href="/" class="nav-item">
                <i class="fa-solid fa-house"></i>
                <span class="nav-label">Home</span>
            </a>
            <a href="/about" class="nav-item">
                <i class="fa-solid fa-id-card"></i>
                <span class="nav-label">About</span>
            </a>
        </nav>
    </div>

    <div class="aside-table">
        <div class="table-title">
            <span id="table-title">Table of content</span>
        </div>
        <nav class="toc" id="table-nav">
            <ul id="table-nav-ul">
            </ul>
        </nav>
        <nav class="aside-nav" id="table-nav-compressed">
        </nav>
    </div>

    <div class="aside-footer">
        {% if site.media.twitter %}
        <a href="#" class="nav-item">
            <i class="fa-brands fa-twitter"></i>
            <span class=nav-label">Twitter</span>
        </a>
        {% endif %}
        {% if site.media.linkedin %}
        <a href="https://www.linkedin.com/in/{{site.media.linkedin}}/" target="_blank" class="nav-item">
            <i class="fa-brands fa-linkedin"></i>
            <span class=nav-label">Linkedin</span>
        </a>
        {% endif %}
        {% if site.media.github %}
        <a href="https://github.com/{{site.media.github}}" target="_blank" class="nav-item">
            <i class="fa-brands fa-github"></i>
            <span class=nav-label">Github</span>
        </a>
        {% endif %}
        {% if site.media.facebook %}
        <a href="#" class="nav-item">
            <i class="fa-brands fa-facebook"></i>
            <span class=nav-label">Facebook</span>
        </a>
        {% endif %}
        {% if site.media.instagram %}
        <a href="#" class="nav-item">
            <i class="fa-brands fa-instagram"></i>
            <span class=nav-label">Instagram</span>
        </a>
        {% endif %}
        {% if site.media.tiktok %}
        <a href="#" class="nav-item">
            <i class="fa-brands fa-tiktok"></i>
            <span class=nav-label">tiktok</span>
        </a>
        {% endif %}
    </div>
</aside>
<div class="aside-overlay" id="aside-overlay"></div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // aside toggle functionality
        const aside = document.getElementById('aside');
        const overlay = document.getElementById('aside-overlay');
        const toggleButton = document.getElementById('toggle-aside');

        function toggleaside() {
            aside.classList.toggle('collapsed');
            document.body.classList.toggle('aside-open');
        }

        toggleButton.addEventListener('click', toggleaside);
        overlay.addEventListener('click', toggleaside);
    });

    document.addEventListener('DOMContentLoaded', () => {
        const aside = document.getElementById('aside');

        function toggleaside() {
            aside.classList.toggle('collapsed');
            document.body.classList.toggle('aside-open');
        }

        function generateLi(tag, id, header) {
            return '<li class="tag-' + tag + '"><a href="#' + id + '" class="nav-item">' + header + '</a></li>';
        }

        function generateA(tag, id, header) {
            const tagToIcon = {
                'h1': '<i class="fa-solid fa-circle"></li>',
                'h2': '<i class="fa-regular fa-circle-dot"></li>',
                'h3': '<i class="fa-regular fa-circle"></li>',
            };
            const label = '<span class="nav-label">' + header + '</span>';
            return '<a href="#' + id + '" class="nav-item">' + tagToIcon[tag] + label + '</a></li>';
        }

        // Generate Table of Content
        const isAPost = document.getElementById('post');
        const table = document.getElementById('table-nav-ul');
        const tableCompressed = document.getElementById('table-nav-compressed');
        const title = document.getElementById("table-title");

        if (isAPost) {
            const post_content = document.getElementById('post-content');
            const headers = ["H1", "H2", "H3"];
            for (const child  of post_content.children) {
                const tag = child.tagName;
                if (headers.includes(tag)) {
                    const id = child.id;
                    const header = child.innerHTML;
                    table.innerHTML += generateLi(tag.toLowerCase(), id, header);
                    tableCompressed.innerHTML += generateA(tag.toLowerCase(), id, header);
                }
            }
            for (const child of table.children) {
                child.addEventListener('click', toggleaside);
            }
            title.innerHTML = "Table of Content";

        } else {
            table.innerHTML = "";
            title.innerHTML = "";
        }
    })
</script>
