<footer class="footer">
    <div class="footer__container">
        <div class="footer__row">
            <div class="footer__column footer__column--brand">
                <p class="footer__tagline">{{ site.description }}</p>
                <div class="footer__social">
                    <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="social-icon"><i class="fa fa-github"></i></a>
                    <a href="#" class="social-icon"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
</footer>
