// Base Sass
@import "reset";
@import "variables";
@import "base";
@import "typography";
@import "syntax";
@import "components";
@import "aside";
@import "post";

html {
  scroll-behavior: smooth;
}

.container {
}

.header {
  position: relative;
  padding-left: $aside-collapsed-width;
  height: 4rem;
  border-bottom: 1px solid $border-color;
  display: flex;
  justify-content: center;

  .heading {
    align-self: center;

    .subheading {
      font-size: 1em;
      border-bottom: none;
    }
  }
}

.main {
  padding: 2rem 1rem;
  padding-left: $aside-collapsed-width + 1rem;
  min-height: 100%;

  @include media-query($on-palm) {
    padding: 0.3rem;
    padding-left: $aside-collapsed-width + 0.3rem;
  }
}

.footer {
  padding: 1rem;
  padding-left: $aside-collapsed-width + 1rem;
  border-top: 1px solid $border-color;
  background-color: $background-color-dark;
  color: $light-text-color;
  display:flex;
  flex-direction: column;

  .signature {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 1rem;
  }

  p {
    margin-bottom: 0px;
  }

  @include media-query($on-palm) {
    padding: 0.3rem;
    padding-left: $aside-collapsed-width + 0.3rem;
  }
}

